{% extends 'base.html' %}

{% block title %}App Detail{% endblock %}

{% block content %}
<div class="app-detail-container">
    <h1>App Detail</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button type="submit" name="update" class="btn">Update</button>
            <button type="submit" name="delete" class="btn btn-danger">Delete</button>
        </div>
    </form>
    <p><a href="{% url 'app-list-create-view' %}" class="back-link">Back to List</a></p>
</div>
{% endblock %}